{deps, [ {lager, "3.2.4"}
       , {brod, "3.3.4"}
       , {yamerl, "0.4.0"}
       , {graphiter, "1.0.5"}
       , {jsone, "1.4.3"}
       , {cowboy, "1.1.2"}
       ]}.

{profiles, [ {test, [{deps, [meck]}]}
           , {dev, [{relx, [ {dev_mode, true}
                           , {include_erts, false}]}]}
           , {prod, [{relx, [ {dev_mode, false}
                            , {include_erts, true}]}]}]}.

{erl_opts, [ {parse_transform, lager_transform}
           , error
           , warn_unused_vars
           , warn_shadow_vars
           , warn_unused_import
           , warn_obsolete_guard
           , debug_info
           ]}.

{ct_use_short_names, true}.
{cover_enabled, true}.
{eunit_opts, [verbose]}.

{relx, [ {release, {brucke, "version is taken from VSN file"},
          [sasl, brucke]}
       , {extended_start_script, true}
       , {sys_config, "rel/sys.config"}
       , {vm_args, "rel/vm.args"}
       ]
 }.

{xref_checks, [undefined_function_calls, undefined_functions,
               locals_not_used, exports_not_used,
               deprecated_function_calls, deprecated_functions]}.

{xref_ignores, [ {brucke_filter, behaviour_info, 1}
               , {brucke_filter, filter, 6}
               , {brucke_filter, init, 3}
               , {brucke_http_healthcheck_handler, content_types_provided, 2}
               , {brucke_http_healthcheck_handler, handle_request, 2}
               , {brucke_http_healthcheck_handler, init, 2}
               , {brucke_http_healthcheck_handler, init, 3}
               , {brucke_http_ping_handler, content_types_provided, 2}
               , {brucke_http_ping_handler, handle_request, 2}
               , {brucke_http_ping_handler, init, 2}
               , {brucke_http_ping_handler, init, 3}
               , {brucke_lib, get_producer_config, 1}
               , {brucke_member, start_link, 1}
               ]}.
