%% -*- mode: Erlang; -*-

%% -------------------- kafka clusters ---------------------

[ {"local-cluster", [{localhost, 9092}]}
].


%% -------------------- brod clients ---------------------

[ {client_1, "local-cluster", []}
, {client_2, "local-cluster", []}
].

%% -------------------- brucke routes ---------------------
[
  {{client_1,"brucke-test-topic-1"},{client_1,"brucke-test-topic-2"},
   [ {repartitioning_strategy,strict_p2p}
   , {consumer_config, [{begin_offset, earliest}]}
   ]},

  {{client_1,"brucke-test-topic-2"},{client_1,"brucke-test-topic-3"},
   [ {repartitioning_strategy,key_hash}
   ]},

  {{client_1,"brucke-test-topic-3"},{client_1,"brucke-test-topic-1"},
   [ {repartitioning_strategy,random}
   ]},

  {{client_2,["brucke-test-topic-4", "brucke-test-topic-5"]},
   {client_2,"brucke-test-topic-6"},
   [{repartitioning_strategy,random}]}
].

