%% -*- mode: Erlang; fill-column: 80; -*-
[ { lager,
   [ { log_root, "log" }
   , { crash_log, "crash.log" }
   , { colored, true }
   , { handlers
     , [ { lager_console_backend, [info, {lager_default_formatter, [date, " ", time,color," [",severity,"] ",pid, " ", message, "\e[0m\r\n"]}]}
       , { lager_file_backend, [ {file, "error.log"},  {level, '>=error'},  {formatter_config, [date, " ", time," [",severity,"] ",pid, " ", message, "\n"]}]}
       , { lager_file_backend, [ {file, "warn.log"},   {level, '=warning'}, {formatter_config, [date, " ", time," [",severity,"] ",pid, " ", message, "\n"]}]}
       , { lager_file_backend, [ {file, "info.log"},   {level, '=info'},    {formatter_config, [date, " ", time," [",severity,"] ",pid, " ", message, "\n"]}]}
       %% This backend should only be used for development,
       %% remove it for production.
       %, { lager_file_backend, [ {file, "debug.log"},  {level, debug}]}
       ]
     }
   , {error_logger_hwm, 500}
   ]}
, { brucke
  , [ {config_file, {priv, "brucke.yml"}} %% or abs path
    , {graphite_host, "localhost"}
    , {graphite_port, 2023}
    ]
  }
].
